<div class="profile__nerrow">
    <a href="/chats"><img src="{{ nerrow }}" alt="Nerrow" width="28" height="28"></a>
</div>
<div class="profile">
    {{{profileAatar}}}
    <h1 class="profile__title">{{profileTitle}}</h1>
    <div class="profile__info info">
        {{{formProfile}}}
    </div>
    <div class="profile__links links">
        {{{linkEditProfile}}}
        {{{linkEditPasswordProfile}}}
        {{{linkExit}}}
    </div>
</div>

{{{popupEditAvatar}}}
