<div class="modal-chat__container">
    {{{ form }}}
  <!--  <form class="modal-chat__form">
        {{{ input }}}
        <div class="modal-chat__button">
            {{{ button }}}
            {{{ exitLink }}}
        </div>
    </form> 
    -->
    {{{ exitLink }}}
</div>
