<div class="chats__sidebar">
    <div class="chats__header">
        {{{ linkAddChat }}}
        {{{ linkProfile }}}
        <input class="chats__search" type="search"/>
    </div>

    <div class="chats__users users">
        {{{ chatItems }}}
    </div>
    <div class="chats__footer"></div>
</div>
<div class="chats__messages">
    <!--<p class="chats__text">Выберите чат, чтобы отправить сообщение</p>-->
    {{{ chatBox }}}
</div>

{{{ modal }}}
