 <div class="{{classAvatar}}">
    <img class="" src="{{img}}" alt="Avatar">
</div>
<div class="{{classInfo}}">
    <div class="{{className}}">{{name}}</div>
    <div class="{{classText}}">{{text}}</div>
</div>
<div class="{{classMessegeInfo}}">
    <div class="{{classTime}}">{{time}}</div>
    <div class="{{classCount}}">{{unviewed}}</div>
</div>
